---
import Layout from "../layouts/Layout.astro";
import AboutHero from "../components/sections/about/AboutHero.astro";
import WhoWeAre from "../components/sections/about/WhoWeAre.astro";
import WhySection from "../components/sections/about/WhySection.astro";
import ProcessSection from "../components/sections/about/ProcessSection.astro";
import TeamGrid from "../components/sections/about/TeamGrid.astro";
---

<Layout title="About Us | MindFrame">
  <main class="w-full relative overflow-hidden bg-white">
    <AboutHero />
    <WhoWeAre />
    <WhySection />
    <ProcessSection />
    <TeamGrid />
  </main>
</Layout>
